<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" type="image/png" href="images/nodejs.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="table-container">
        <div class="title">User List</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
            </tr>
            <tr class="table-data">
                <td>0</td>
                <td>abc@gmail.com</td>
                <td>Lam Doanh</td>
                <td>Ho Chi Minh</td>
            </tr>
        </table>
    </div>
</body>
</body>

</html>